* {
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    margin: 0;
    padding: 0;
}

.fix {
    clear: both;
    overflow: hidden;
    height: 90vh;
}

a:hover {
    text-decoration: none;
}

/* home */
section {
    margin: 5% 0;
}

.overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.navbar {
    background: rgba(8, 56, 88, 0.8) !important;
    border-bottom: 3px solid #4285f4;
    height: 100px;
    font-size: .9rem;
}

.navbar .logo {
    font-size: 1.7em;
}

.navbar .nav-item {
    transition: all 0.2s ease-in-out;
}

.navbar .nav-item .nav-link {
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #ffffff 3px solid;
}

.navbar .nav-item.active .nav-link {
    color: #4285f4;
    text-shadow: 0px 0px 1px #4285f4;
    transform: scale(1.1);
}

.navbar .nav-item .nav-link:hover {
    color: #4285f4;
    text-shadow: 0px 0px 1px #4285f4;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: rgba(1, 1, 1, 0.9);
}

.dotunderletter {
    text-emphasis-style: dot;
    text-emphasis-position: under left;
    -webkit-text-emphasis-style: dot;
    -webkit-text-emphasis-position: under;
}

.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    height: auto;
}

.bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-attachment: fixed;
}

.banner-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    text-align: center;
    margin: auto;
    max-width: 600px;
    color: #fff;
}

.banner-title {
    font-size: 25px;
    margin-left: 3px;
}

/* INFO */
#home-icons {
    background-color: #fff;
}

/* SERVICES */
.services {
    background-color: rgba(8, 56, 88, 0.8);
    margin:0;
}

.icon {
    font-size: 24px;
    transition: all 0.5s ease;
}

.services-inner {
    padding: 30px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    border-radius: 3%;
}

.service-title {
    margin-bottom: 16px;
    margin-top: 16px;
}

.services-inner:hover {
    background-color: #333;
    color: #fff;
}

.services-inner:hover h3 {
    color: #3498db;
}

.services-inner:hover .icon {
    color: #d35400;
    transform: rotateY(180deg) scale(1.5);
}

/* Contact */
#contact {
    margin: 0;
}

/* blogs */
/* Float four columns side by side */
.column {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Videos */
.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */
#main-footer {
    border-top: solid 2px #4285f4;
}

#main-footer p {
    margin-top: 3px;
    font-size: 13px;
}

.scroll-top {
    margin-top: 3px;
    text-align: right;
}

.scroll-top a {
    background-color: #4285f4;
    padding: 10px;
}

.scroll-top a i {
    color: #fff;
    font-size: 25px;
}

.about {
    color: #111;
    background-color: #dddddd;
    border-top: 2px solid #bbb;
}

.about .social {
    font-size: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 2px;
    margin-bottom: 15px;
    margin-right: 5px;
    color: #eee;
}

/* Order View */
.shipping-details {
    font-size: 15px;
}

/* Footer */
footer {
    background-color: rgba(8, 56, 88, 0.8);
}


/* Admin */
.adminnavbar {
    background-color: rgba(15, 17, 22, 0.8) !important;
}

.flex {
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
}

.flex a {
    margin: 10px;
    color: black;
}

.flex a:hover {
    color: rgba(8, 56, 88, 0.8);
}

/* MEDIA QUERIES */
@media screen and (min-width: 320px) {
    #main-footer {
        font-size: 12px;
    }

    .admin-blogs h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .navbar .nav-item.active {
        border-left: #4285f4 3px solid;
    }
}

@media screen and (max-width: 767px) {
    .navbar .nav-item.active {
        padding-left: 15px;
    }
}

@media screen and (max-width: 420px) {
    .navbar .nav-item.active {
        padding-left: 10px;
    }
}

@media screen and (max-width: 350px) {
    .navbar .nav-item.active {
        padding-left: 5px;
    }
}

@media (min-aspect-ratio: 16/9) {
    .vid-bg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .vid-bg {
        width: auto;
        height: 100%;
    }
}